h1 {
    color: #003E92;
    text-align: center; 
    margin: 0 auto;
}

.input-wrapper {
    position: relative;
    width: 100%; 
}

.inputNfe {
    border-radius: 0; 
    border: none;
    border-bottom: solid 1px #000; 
    font-size: 20px;
    padding: 2px;
    margin-bottom: 50px;    
}

.inputDataEmissao {
    width: 250px;
}

.inputCapsule2 {
    margin: 16px 0px;
    position: relative; 
}

.conteudoNfe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.cadastroForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-sections {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.form-left, .form-right {
    display: flex;
    flex-direction: column;
    width: 48%; 
}

.form-button {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

label {
    font-size: 17px;
}

.date-wrapper {
    position: relative;
    width: 100%;
}

.date-input {
    width: 85%;
    padding: 6px 40px; 
    border-radius: 4px;
    border: 1px solid #B0B0B0; 
    background-color: #F0F0F0;
    font-size: 12px;
    color: #333;
    box-sizing: border-box; 
}

.date-icon {
    position: absolute;
    top: 60%;
    left: 3%; 
    transform: translateY(-50%);
    color: #B0B0B0; 
    font-size: 18px;
    z-index: 3;
}

.date-placeholder {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 16px;
    pointer-events: none;
    z-index: 1;
}

.date-input:focus + .date-icon + .date-placeholder,
.date-input:not(:placeholder-shown) + .date-icon + .date-placeholder {
    display: none;
}

.cadastrarBtn {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 20px;
    padding: 5px 7rem;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to right, hsl(215, 100%, 26%), hsl(215, 100%, 26%));
    position: relative;
    z-index: 1;
}

.cadastrarBtn::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, hsl(215, 100%, 26%), hsl(215, 93%, 39%), hsl(215, 93%, 39%));
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
    border-radius: 4px;
}

.cadastrarBtn:hover::before {
    opacity: 1;
}

.cadastrarBtn a {
    text-decoration: none;
    color: white;
}

.mainNFE {
    padding: 0;
    margin-top: 50px;
}

.contNfe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.NFEForm {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    width: 100%;
    /* border: solid 4px red; */
}

.inputs {
    display: flex;
    justify-content: center;
}

.inputs > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

div > label {
    font-weight: bold;
}

.NFEForm > div {
    display: flex;
    justify-content: center;
}

.lado1 {
    padding-left: 15%;
}

.lado2 {
    padding-right: 15%;
}