@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");

.jockey-one-regular {
  font-family: "Jockey One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header li {
  display: inline-block;
  margin-right: 70px;
  position: relative;
}

.header li a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  padding: 10px 0;
  display: block; 
}
.header li a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  content: '.';
  color: transparent;
  background: black;
  height: 1px;
  transition: width 0.4s ease-in-out;
}

.header li a:hover {
  color: black;
}

.header li a:hover:after {
  width: 100%;
}

.mheader {
  display: none;
}

.mheader li {
  display: inline-block;
  margin-right: 70px;
  position: relative;
}

.mheader li a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  padding: 10px 0;
  display: block; 
}
.mheader li a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  content: '.';
  color: transparent;
  background: black;
  height: 1px;
  transition: width 0.4s ease-in-out;
}

.mheader li a:hover {
  color: black;
}

.mheader li a:hover:after {
  width: 100%;
}

.logo {
  font-size: 32px;
  border: 1px solid;
  border-image: repeating-linear-gradient(135deg, #000 0 10px, #000 0 20px, #000 0 30px) 8;
  -webkit-mask: conic-gradient(from 180deg at top 8px right 8px, #0000 90deg, #000 0) var(--_i, 200%) 0 / 200% var(--_i, 8px) border-box no-repeat, conic-gradient(at bottom 8px left 8px, #0000 90deg, #000 0) 0 var(--_i, 200%) / var(--_i, 8px) 200% border-box no-repeat, linear-gradient(#000 0 0) padding-box no-repeat;
  transition: .3s, -webkit-mask-position .3s .3s;
}

.logo:hover {
  --_i: 100%;
  color: #000;
  transition: .3s, -webkit-mask-size .3s .3s;
}

.logo~*:hover {
  text-decoration: none;
}

.login {
  padding: 0px 13px;
  border: solid 1px #000;
  width: 70px;
  text-align: center;
  cursor: pointer;
}

.login:hover {
  background-color: #c0c0c080;
}

.menu {
  visibility: hidden;
}

.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: rgba(255, 255, 255, 100%);
  box-shadow: 0px 16px 10px 0px rgba(0, 0, 0, 0.40);
  min-width: 160px;
  z-index: 1;
  margin-top: 70px;
  border-radius: 0px;
  right: 1%;
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.4s;
}

.dropdown-content a:hover {
  background-color: #cecece;
  text-shadow: 1px 1px 20px #FFF;
}

.show {
  display: block;
}

@media screen and (max-width: 1212px) {
  .menu {
    visibility: visible;
    margin-right: 25px;
  }

  .header {
    display: none;
  }

  .mheader {
    display: block;
  }

  header {
    display: flex;
    justify-content: space-between;
  }
}